@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
  --primary-color: #ff0000;
  --dark-color: #3b4cca;
  --light-color: #ffde00;
  --danger-color: #cc0000;
  --success-color: #b3a125;
}

/* .btn {
  background-color: initial;
} */
.bgcolor1,
.bgcolor1:hover {
  background: var(--primary-color);
  color: #fff;
}
.color1 {
  color: var(--primary-color);
}

.bgcolor2,
.bgcolor2:hover {
  background: var(--dark-color);
  color: #fff;
}

.color2 {
  color: var(--dark-color);
}

.bgcolor3,
.bgcolor3:hover {
  background: var(--light-color);
  color: #fff;
}
.color3 {
  color: var(--light-color);
}

.bgcolor4,
.bgcolor4:hover {
  background: var(--danger-color);
  color: #fff;
}
.color4 {
  color: var(--danger-color);
}

.bgcolor5,
.bgcolor5:hover {
  background: var(--success-color);
  color: #fff;
}
.color5 {
  color: var(--success-color);
}

.btn:hover {
  opacity: 0.7;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
    /* opacity: 1; */
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
    height: 200%;
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
    /* opacity: 0; */
  }
}
.shake-and-disappear {
  animation: shake 0.5s 4;
}
.disappear {
  display: none;
}

.pokeimg {
  width: 70%;
  position: relative;
}
